<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Address Book</title>
</head>
<body>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Address Book</h1>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Register</h3>
          </div>
          <div class="card-body">
            <%= form_for(@user, url: users_path) do |f| %>
              <div class="mb-3">
                <%= f.label :username, class: "form-label" %>
                <%= f.text_field :username, type: "text", required: true, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, type: 'email', required: true, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, type: 'password', required: true, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.label :password_confirmation, class: "form-label" %>
                <%= f.password_field :password_confirmation, required: true, class: "form-control" %>
              </div>
              <div class="d-grid">
                <%= f.submit 'Sign Up', class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
