<div class="container mt-4">
  <h1>Address Book</h1>
  <br>
  <%= link_to 'Add a New Person', new_person_path(@person), class: 'btn btn-primary' %>
  <br>
  <!-- Table to Display Records -->
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>Salutation</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>SSN</th>
        <th>Birth Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.id %></td>
          <td><%= person.salutation %></td>
          <td><%= person.first_name %></td>
          <td><%= person.middle_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.ssn %></td>
          <td><%= person.birth_date %></td>
          <td>
            <%= link_to 'Edit', edit_person_path(person), class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
          <td>
          <%= link_to 'Show More Details', person, class: 'btn btn-sm btn-secondary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
