<%= form_for [@person, @email] do |f| %>

  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :email_address, 'Email Address' %>
    <%= f.text_field :email_address, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>