<div class="container">
  <h1>Edit Email for <%= @person.first_name %> <%= @person.last_name %></h1>

  <%= form_for [@person, @email] do |f| %>
    <div class="form-group">
      <%= f.label :email_address, 'Email Address' %>
      <%= f.text_field :email_address, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_area :comment, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= link_to 'Back to Emails', person_emails_path(@person), class: 'btn btn-secondary' %>
</div>
